<form [ngFormModel]="form" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="current">Current Password</label>
        <input 
            ngControl="current"
            #current="ngForm"
            type="password" 
            class="form-control"
            id="current">
        <div *ngIf="current.touched && current.errors">
            <div 
                *ngIf="current.errors.required"
                class="alert alert-danger">
                Current password is required
            </div>
            <div 
                *ngIf="current.errors.minimumLength"
                class="alert alert-danger">
                Current password must be {{ current.errors.length }} or more characters
            </div>
            <div 
                *ngIf="current.errors.validOldPassword"
                class="alert alert-danger">
                Current password is incorrect
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="new">New Password</label>
        <input
            ngControl="new"
            #new="ngForm"
            type="password" 
            class="form-control"
            id="new">
        <div *ngIf="new.touched && new.errors">
            <div 
                *ngIf="new.errors.required"
                class="alert alert-danger">
                Password is required
            </div>
            <div 
                *ngIf="new.errors.minimumLength"
                class="alert alert-danger">
                Password must be {{ new.errors.length }} or more characters
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirm">Confirm Password</label>
        <input
            ngControl="confirm"
            #confirm="ngForm"
            type="password" 
            class="form-control"
            id="confirm"
            required>
        <div 
            *ngIf="confirm.touched && !confirm.valid"
            class="alert alert-danger">
            Please confirm your new password
        </div>
        <div 
            *ngIf="confirm.touched && form.errors && form.errors.passwordMatch"
            class="alert alert-danger">
            Passwords do not match
        </div>
    </div>
    <button 
        class="btn btn-primary" 
        type="submit"
        [disabled]="!form.valid">Submit</button>
</form>